.teachersAboutpg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;

    .TeacherCards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
        .CardTeacher{
            flex-basis: 33.333%;
        }
    }
}

@media screen and (max-width: 900px){
    .teachersAboutpg{
        .TeacherCards{
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 680px){

    .teachersAboutpg{
       
    
        .TeacherCards{
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 300px){
    .teachersAboutpg{
        h2{
            font-size: 26px;
        }
    }
}