.teachersAboutpg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;

    .TeacherCards{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 680px){

    .teachersAboutpg{
       
    
        .TeacherCards{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 300px){
    .teachersAboutpg{
        h2{
            font-size: 26px;
        }
    }
}