.cardFlip {
  width: inherit;
  height: 100%;
  transition: 0.5s all 600ms;

  .cardContainer {

    transition: transform 600ms;
    transform: rotateY(0deg);
    /* Revert to the original state */
    background-color: transparent;
    transform-style: preserve-3d;
    

    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 100%;

    .back {
      display: none;
      backface-visibility: hidden;
    }

    .image {
      height: 100%;
      width: 100%;
      border-radius: 10px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .bar {
      position: absolute;
      bottom: 15%;
      background: linear-gradient(180deg, #3e4b75 0%, #192440 100%);
      width: -webkit-fill-available;
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      padding: 5px 15px;
      height: 60px;

      h4 {
        color: white;
        font-size: 28px;
      }

      .Logoimg {
        position: relative;
        min-width: 100px;

        .logo {
          position: absolute;
          width: 100%;
          bottom: -20px;
        }
      }
    }
  }
}

.cardFlip:hover {
  .cardContainer {
    transition: transform 600ms;
    transform-style: preserve-3d;
    cursor: pointer;
    transform: rotateY(180deg);
    background-color: black;

    .back {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0%;
      width: -webkit-fill-available;
      gap: 10px;
      height: 100%;
      transform: rotateY(180deg);
      
      h5 {
        color: white;
        font-size: 26px;
      }

      .btnDetail {
        border-radius: 1100px;
        border: none;
        padding: 20px 30px;
        background: linear-gradient(180deg, #3E4B75 0%, #192440 100%);
        color: white;
        cursor: pointer;
        font-size: 26px;
        font-weight: 700;
      }
    }

    .bar {
      backface-visibility: hidden;
    }
  }
}

@media screen and (min-width: 1024px) {
  .cardFlip {
    .cardContainer {
      .bar {
        bottom: 10%;
        gap: 10px;
        align-items: center;
        padding: 5px 20px;
        height: 60px;

        h4 {
          font-size: 22px;
        }

        .Logoimg {
          position: relative;
          min-width: 90px;

          .logo {
            width: 100%;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {
  
      .back {
        padding: 0px 20px;
        h5 {
          font-size: 20px;
        }
  
        .btnDetail {
          padding: 10px 15px;
          font-size: 20px;
          font-weight: 700;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .cardFlip {
    .cardContainer {
      .bar {
        bottom: 10%;
        gap: 5px;
        height: 50px;

        h4 {
          color: white;
          font-size: 16px;
        }

        .Logoimg {
          position: relative;
          min-width: 70px;

          .logo {
            width: 100%;
            bottom: -12px;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {  
      .back {

        h5 {
          font-size: 18px;
        }
  
        .btnDetail {
          padding: 10px 20px;
          font-size: 20px;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .cardFlip {
    .cardContainer {
      .bar {
        bottom: 10%;
        gap: 5px;
        height: 50px;

        h4 {
          color: white;
          font-size: 16px;
        }

        .Logoimg {
          position: relative;
          min-width: 70px;

          .logo {
            width: 100%;
            bottom: -12px;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {  
      .back {

        h5 {
          font-size: 18px;
        }
  
        .btnDetail {
          padding: 10px 20px;
          font-size: 20px;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .cardFlip {
    .cardContainer {
      .bar {
        bottom: 20%;
        gap: 10px;
        height: 80px;

        h4 {
          color: white;
          font-size: 24px;
        }

        .Logoimg {
          position: relative;
          min-width: 100px;

          .logo {
            width: 100%;
            bottom: -12px;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {  
      .back {
        padding: 10px 10px;
        h5 {
          font-size: 22px;
        }
  
        .btnDetail {
          padding: 10px 20px;
          font-size: 18px;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .cardFlip {
    .cardContainer {
      .bar {
        padding: 0px 15px;
        bottom: 10%;
        gap: 5px;
        height: 50px;

        h4 {
          color: white;
          font-size: 16px;
          font-weight: 400;
        }

        .Logoimg {
          position: relative;
          min-width: 65px;

          .logo {
            width: 100%;
            bottom: -8px;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {  
      .back {
        padding: 5px 15px;
        h5 {
          font-size: 18px;
        }
  
        .btnDetail {
          padding: 10px 15px;
          font-size: 18px;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .cardFlip {
    .cardContainer {
      .bar {
        padding: 0px 15px;
        bottom: 10%;
        gap: 5px;
        height: 50px;

        h4 {
          color: white;
          font-size: 16px;
          font-weight: 400;
        }

        .Logoimg {
          position: relative;
          min-width: 65px;

          .logo {
            width: 100%;
            bottom: -8px;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {  
      .back {
        padding: 5px 15px;
        h5 {
          font-size: 18px;
        }
  
        .btnDetail {
          padding: 10px 15px;
          font-size: 20px;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .cardFlip {
    .cardContainer {
      .bar {
        padding: 5px 15px;
        bottom: 15%;
        gap: 10px;
        height: 50px;

        h4 {
          color: white;
          font-size: 20px;
          font-weight: 700;
        }

        .Logoimg {
          position: relative;
          min-width: 80px;

          .logo {
            width: 100%;
            bottom: -10px;
          }
        }
      }
    }
  }
  .cardFlip:hover {
    .cardContainer {  
      .back {
        padding: 5px 15px;
        h5 {
          font-size: 16px;
        }
  
        .btnDetail {
          font-size: 18px;
        }
      }
  
      .bar {
        backface-visibility: hidden;
      }
    }
  }
}