@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&family=Raleway:wght@300;400&display=swap');

*{
    margin:0;
    padding: 0;
    color: #192440;

    font-family: 'Alegreya Sans SC', sans-serif;
}
body{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #192440;

}

h1,h2,h3,h4,h5,h6,a,li{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
}

h1{
    font-size: 60px;
}
h2{
    font-size:50px;
}
h3{
    font-size:40px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 20px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.ContainerStory{
    padding: 100px 50px;
    width: 80%;
    margin: auto;
    h2{
        text-align: center;
        width: 60%;
        margin: auto;
        color: #192440;
        margin-bottom: 40px;
    }
    p{
        text-align: center;
        width: 60%;
        margin: auto;
        color: #192440;
        margin-bottom: 30px;
    }
    .TextSection{
        max-width: 80%;
        margin: auto;
        h5{
            margin-bottom:20px;
        }
        p{
            margin: 0px;
            max-width:70%;
            margin: auto;
            letter-spacing: 3px;
            word-spacing: 4px;
        }
    }
}

@media screen and (min-width: 1024px) {
    /* Adjust font sizes and other styles for desktop screens */
    h1 {
        font-size: 72px; /* Increase the font size for desktop */
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 36px;
    }

    h5 {
        font-size: 30px;
    }

    h6 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }
    .ContainerStory{
        padding: 50px;
        width: 90%;
            h2{
                text-align: center;
                width: 70%;
                margin: auto;
                margin-bottom: 40px;
            }
            p{
                text-align: center;
                width: 80%;
                margin: auto;
                margin-bottom: 30px;
            }
            .TextSection{
                max-width: 85%;
                margin: auto;
                h5{
                    margin-bottom:20px;
                }
                p{
                    margin: 0px;
                    max-width:70%;
                    margin: auto;
                    letter-spacing: 3px;
                    word-spacing: 4px;
                }
            }
    }
}

@media screen and (max-width: 850px) {
    .ContainerStory{
        padding: 50px 10px;
        width: 95%;
        h2{
            text-align: center;
            width: 70%;
            margin: auto;
            margin-bottom: 40px;
        }
        p{
            text-align: center;
            width: 80%;
            margin: auto;
            margin-bottom: 30px;
        }
        .TextSection{
            max-width: 85%;
            p{
                max-width:90%;
                letter-spacing: 2px;
                word-spacing: 2px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    /* Adjust font sizes and other styles for tablets */
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    /* Adjust font sizes and other styles for mobile devices */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
    .ContainerStory{
        padding:50px 10px;
        width: 90%;
        h2{
            margin-bottom: 10px;
            width: 90%;
        }
        .TextSection{
            max-width: 95%;
            h5{
                margin-bottom: 10px;
            }
            p{
                text-align: left;
                max-width:100%;
                margin: 0px;
                margin-left: 10px;
                letter-spacing: 0px;
                word-spacing: 1px;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .ContainerStory{
        padding:50px 10px;
        width: 90%;
        h2{
            text-align: left;
            font-size: 22px;
            width: 100%;
        }
        p{
            width: 100%;
            text-align: left;
            font-size: 16px;
        }
    }
}