.mainDescription{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
    max-width: 80%;
    gap: 10%;
    .DescriptionContainer{
        background-color: #192440;
        padding: 30px 30px;
        border-radius: 10px;
        flex-basis: 50%;
        h4{
            color: white;
            margin-bottom: 20px;
        }
        p{
            width: 80%;
            margin-left: 10px;
            color: white;
            margin-bottom: 20px;
        }
        ul{
            margin-left: 20px;
            li{
                font-size: 22px;
                font-weight: 400;
                color: white;
                margin-bottom: 10px;
            }
        }
    }
}

.OverviewContainer{
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
    .VideoFrame{
        flex-basis: 40%;
        iframe{
            width: 100%;
        }
    }
    .OverviewContent{
        flex-basis: 60%;
        p{
            margin-bottom: 20px;
        }
    }
}

.DetailContainer{
    max-width: 80%;
    margin: auto;
}

@media screen and (max-width:1024px){
    .mainDescription{
        max-width: 90%;
        gap: 5%;
        .DescriptionContainer{
            h4{
                margin-bottom: 10px;
            }
            p{
                width: 90%;
                margin-left: 5px;
            }
        }
    }
    .OverviewContainer{
        max-width: 95%;
        gap: 30px;
        .VideoFrame{
            flex-basis: 50%;
            iframe{
                width: 100%;
            }
        }
        .OverviewContent{
            flex-basis: 50%;
            p{
                margin-bottom: 20px;
            }
        }
    }
    .DetailContainer{
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (max-width:850px){
    .OverviewContainer{
        flex-direction: column;
        max-width: 85%;
        .VideoFrame{
            flex-basis: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width:550px){
    .mainDescription{
        flex-direction: column;
        gap: 20px;
        .DescriptionContainer{
            ul{
                li{
                    font-size: 16px;
                }
            }
        }
    }
    .OverviewContainer{
        max-width: 90%;
    }
}

@media screen and (max-width:300px){
    .mainDescription{
        .DescriptionContainer{
        padding: 20px 20px;

            p{
                max-width: 100%;
            }
        }
    }
    .OverviewContainer{
        max-width: 95%;
    }
}


