.Main {
    color: white;
    background-color: #192440;
    width: 100%;
    position: fixed;
    top: 40px;
    z-index: 100;
    .container {
        height: 90px;
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            max-width: 150px;
            position: relative;
            top: -25px;

            img {
                max-width: 100%;
                object-fit: contain;
            }
        }

        .navbar {
            flex-basis: 45%;
            font-size: 22px;

            ul {
                display: flex;
                list-style-type: none;
                justify-content: space-between;
                gap: 25px;
                align-items: center;

                li {
                    cursor: pointer;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {
    .Main {
        .container {
            height: 70px;
            width: 90%;

            .logo {
                max-width: 120px;
                top: -15px;
            }

            .navbar {
                flex-basis: 60%;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .Main {
        top: 30px;

        .container {
            height: 50px;
            width: 90%;

            .logo {
                max-width: 100px;
            }

            .navbar {
                flex-basis: 70%;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .Main {
        top: 30px;

        .container {
            height: 50px;
            width: 90%;

            .logo {
                max-width: 100px;
            }

            .navbar {
                flex-basis: 70%;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .MobileMenuIcon{
        .icon{
            font-size: 26px;
            font-weight: 700;
            transition: 1s ease-in-out;
        }
    }
        .Mobilenavbar {
            background-color: #192440;
            width: 100%;
            padding: 30px;

            ul {
                list-style-type: none;
                font-size: 18px;
                li {
                    cursor: pointer;
                    margin-bottom: 5px;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
}

@media screen and (max-width: 300px) {
    .Main {
        .container {
            .logo {
                max-width: 80px;
                top: -10px;
            }
        }
    }
}