.parent {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5%;

  .content {
    width: 50%;

    p{
      padding-right: 10%;
      margin-bottom: 20px;
    }
    
  }
}

@media screen and (max-width: 910px) {
  .parent {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5%;

    .content {
      width: 100%;
      padding-top: 5%;
     
   

      h2 {
        align-items: center;
        text-align: left;
      }
    }
  }
}
